---
---

/*
  If the number of TAB files has changed, the following variable is required.
  And it must be defined before `@import`.
*/
$tab-count: {{ site.tabs | size | plus: 1 }}; // plus 1 for home tab

@import "{{ site.theme }}";

/* append your custom style below */
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

figure.portrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

figure.landscape {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

